@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@font-face {
  font-family: 'UncialAntiqua';
  src: url('/fonts/UncialAntiqua-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'EBGaramond';
  src: url('/fonts/EBGaramond-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Almendra';
  src: url('/fonts/Almendra-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}



@keyframes shimmer {
  0% {
    background-position: -500px 0;
  }
  100% {
    background-position: 500px 0;
  }
}

.shimmer-text {
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    rgba(255, 255, 255, 0.5) 50%,
    transparent 100%
  );
  background-size: 1000px 100%;
  background-repeat: no-repeat;
  animation: shimmer 2.5s infinite;
  -webkit-background-clip: text;
  color: transparent;
}


/* Custom Scrollbar */

.custom-scrollbar::-webkit-scrollbar{
  width: 8px;
}

.custom-scrollbar2::-webkit-scrollbar {
  width: 0px;
}

.custom-scrollbar::-webkit-scrollbar-track, .custom-scrollbar2::-webkit-scrollbar-track{
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(120deg, #352000, #027525);
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: padding-box;
  position: relative;
  animation: thumbSparkle 1.5s infinite linear;
}

.custom-scrollbar2::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
  border: 0px solid transparent;
  background-clip: padding-box;
  position: relative;
  animation: thumbSparkle 1.5s infinite linear;
}